<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SAstore</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  {% block extra_head %}{% endblock %}
</head>

<body>

  {% if request.path != '/accounts/login/' and request.path != '/signup/' %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success-subtle fixed-top p-2">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
        <strong class="fs-4">SA<span style="color: #0d6efd;">Store</span></strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-primary mx-1" href="{% url 'order_list' %}">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary mx-1" href="{% url 'all_products' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary mx-1" href="{% url 'cart' %}">Cart</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="nav-link">Hello, {{ user.username }}!</span>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link btn btn-outline-success" href="{% url 'signup' %}">Log in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}

  <!-- Page content -->
  <div class="container my-4">
    {% block content %}{% endblock %}
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
